<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.oehm.demo"></context:component-scan>

	<bean id="car" class="com.oehm.demo.Car" scope="singleton">
		<property name="carName" value="Tata nexon"></property>
	</bean>


	<bean id="model" class="com.oehm.demo.Model">
		<property name="modelId" value="100"></property>
		<property name="cost" value="39000.0"></property>
		<constructor-arg name="modelName" value="oneplus7t"></constructor-arg>
		<constructor-arg name="type" value="Mobile"></constructor-arg>
		<constructor-arg name="features" value="Android"></constructor-arg>
	</bean>


	<bean id="brand" class="com.oehm.demo.Brand">
		<property name="brandName" value="oneplus"></property>
		<property name="model" ref="model"></property>
	</bean>










</beans>



